*{
    margin: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 3.5;
    min-height: 20vh;
    background: #f3f3f3;
    flex-direction: column;
    margin: 0;
}

nav{
    min-height: 30%;
    background-color: #51845D;
}
        
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
        
nav ul li {
    display: inline;
    margin-right: 5px;
    padding: 10px;
}
        
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: #254F2C;
    border-radius: 10px;
}
        
nav ul li a:hover {
    background-color: #333;
}

.main {
    background-color: #51845D;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 400px;
    text-align: center;
}

input {
    width: 50%;
    margin-bottom: -20px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #254F2C;
    width: 50%;
    font-size: 16px;
}

button:hover{
    background-color: #333;
}